body{
    margin: 0;
    font-family: 'Gilroy-Regular', sans-serif;


     
    background-color: #161B21;
    color: white;
}
.link{
    background-color: #1F272F;
    border:1px solid #48F77D;
    color: white;
    width: 350px;
    font-weight: 200;

    border-radius: 10px;
}
 
.title{
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    display: block;
  
    position: absolute;
    background-color: #161B21;
    color: white;
   margin: 0;
}

.entry-modal{
    border: 1px solid #280045;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 70;
    margin-left: -150px;
    padding: 5px;
    color: #fff;
    background-color: #161B21;
    text-align: center;
    background-color: #161B21;
    color: white;
}



#notification{
    position: absolute;
    
    text-align: center;
    color: #fff;
    margin: 0;
    top: 0;
    font-size: 18pt;
    width: 80%;
    background-color: orange;
}


.room-input{
  border: none;
  padding:5px;
}

button{
    margin: 3px;
    padding: 5px;
}

.remote-video-main{
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #161B21;
    object-fit: contain;
    
    position: absolute;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #161B21;
    
}
.logo{
    top:10px;
    left: 10px;
    position: fixed;
    width: 150px;
     
    z-index: 600;
    opacity: 0.6;
}

#local-video,.small_vids{
     
    width: 200px;
    object-fit: contain;
    height: 112px;
   
    background-color: #161B21;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
   
}
.participants{
    position: absolute;
    z-index: 1000;
    right: 15;
}
.meet-controls-bar{
    bottom: 0;
    background-color: black;
    left: 0;
    
    width: 100%;
}

.controlBtn{
    width: 52px;
    height: 52px;
    border-radius: 25px;
    background: #2D3237;
    color: white;
    border: 0px;
    
}
.upit{
    position: relative;
    bottom: 20px;
    z-index: 102; 
    
}
.red{
    background-color: red;
    padding: 2px;

}
.green{
     
    padding: 2px;
    background-color: #2D3237;
}
.local-video{
         
    width: 200px;
    object-fit: contain;
    height: 112px;
   
    background-color: #2D3237;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

.callCutbutton{
width: 62px;
height: 62px;
border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .remote-video-main{
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
       
        object-fit: contain;
        z-index: 100;
        position: absolute;
        border-radius: 10px;
        border: 2px solid white;
        
    }
    
   .small_vids{
         
        
         
        object-fit: contain;
        height: 80px;
        width: 80px;
        
        
        border-radius: 10px;
        border: 2px solid white;
       
    }
    .local-video{
        
        
        object-fit: contain;
        height: 80px;
        width: 80px;

        
        
        border-radius: 10px;
        border: 2px solid white; 
    }
    
    .participants{
       z-index: 1000;
        bottom: 80px;
        right: 10px;
    
    }
    .link{
        
        width: 150px;
         
    }
    #sharescreen{
        display: none;
    }
  }